html, body {
    margin: 0;
    padding: 0;
}

.webpage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #1F2937;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 24px;
}

.header-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 18px;
    font-size: 12px;
}

.hero {
    background-color: #1F2937;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-content {
    color: white;
    margin-left: 100px;
}

.hero img {
    margin-right: 100px;
}

.signup-button {
    background-color: #3882f6;
    border-radius: 8px;
    color: white;
    border: none;
    padding: 7px
}

.info {
    background-color: white;
    height: 100vh;
}

.info-title {
    text-align: center;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
}

.info-imgs{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.info-1, .info-2, .info-3, .info-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
}

.info-1-img, .info-2-img, .info-3-img, .info-4-img {
    border-radius: 10%;
    border: 2px solid #3882f6;
}

.card-3 {
    background-color: #E5E7EB;
    height: 100vh;
}

.card-4 {
    background-color: white;
    height: 100vh;
}

.footer {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white
}