html, body {
    margin: 0;
    padding: 0;
}

.webpage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #1F2937;
    color: white;
}

.header-logo {
    margin-left: 100px;
}

.footer {
    display: flex;
    justify-content: center;
}

.header-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
    margin-right: 100px;
}

a {
    text-decoration: none;
    color: white
}